# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.env
.env
.venv
venv/
build/
dist/
.eggs/
*.log
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.tar

# Environment
.env
.ENV
